.menu {
  background-color: red;
  padding: 10px;
}
.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: green;
}
.menu li a:hover {
  color: white;
}
form {
    width: 200px;
    margin: 20px;
    padding: 20px;
    border: 10cap;
}
label {
display: block;
}


